<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 <properties resource="com/cms/properties/dataSource.properties"/>
	
		<typeAliases>
			<typeAlias type="java.lang.String" alias="str"/>
			<typeAlias type="java.lang.Integer" alias="int"/>
			<typeAlias type="com.jdbc.source.DBCPDataSourceFactory" alias="DBCP" />
			<typeAlias type="com.project.CommentsVO" alias="comments"/>
			<typeAlias type="com.project.QnaVO" alias="qna"/>			
		</typeAliases>
		
  	<environments default="development">
    	<environment id="development">
  	    	<transactionManager type="JDBC"/>
 	     	<dataSource type="POOLED">
	        	<property name="driver" value="${jdbcdriver}"/>
	        	<property name="url" value="${jdbcurl}"/>
	        	<property name="username" value="${username}"/>
	        	<property name="password" value="${password}"/>
	 	    </dataSource>
   	    </environment>
  	</environments>  	
  	
  	
  	<mappers>
    	<mapper resource="com.cms.sqlMaps.Comments-Mapper.xml"/>
    	<mapper resource="com.cms.sqlMaps.Qna-Mapper.xml"/>
 	</mappers>
 
 </configuration>